<footer class="sticky-footer bg-white">
  <div class="container my-auto">
      <div class="copyright text-center my-auto">
          <span>Todos os direitos reservados &copy; Your Website <%= Date.current.year %></span>
      </div>
  </div>
</footer>
