<% if user_signed_in? %>
  <p>Página inicial do APP</p>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% else %>
  <h2>voce não esta logado cadastre-se por favor</h2>
  <%= link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link' %>
<% end %>
